<ion-view hide-back-button="true" title="{{vm.locales.title}}">
  <ion-content class="bg" padding="true">
      <div class="card button-tw-sign" ng-click="vm.signUp('twitter')">
        <i class="button-icon icon ion-social-twitter"></i>
        <span class="button-text">{{vm.locales.twitter_btn}}</span>
      </div>
      <div class="card button-fb-sign" ng-click="vm.signUp('facebook')">
        <i class="button-icon icon ion-social-facebook"></i>
        <span class="button-text">{{vm.locales.fb_btn}}</span>
      </div>
  </ion-content>
</ion-view>
