// Main Colors
$primary-color: #672B81;
$dark-primary-color: #AA4095;
$light-primary-color: #E6D5F6;
$accent-color: #ff5252;

// Layout Colors
$background-color: #fafafa;
$divider-color: #b6b6b6;
$white-color: #fff;
$black-color: #000;

// Font Colors
$text-icons-color: #212121;
$primary-text-color: #212121;
$secondary-text-color: #727272;

// Social Colors
$fb-color: #3f51b5;
$tw-color: #03a9f4;

// Category Colors
$category-e-color: #e23a67;
$category-h-color: #f8ca00;
$category-d-color: #fa6900;
$category-g-color: #5abada;
$category-a-color: #774f38;
$category-c-color: #86d748;

// Category color pastel
$category-e-color-disabled: #eaccd3;
$category-h-color-disabled: #e8dcae;
$category-d-color-disabled: #f4cfb5;
$category-g-color-disabled: #ccdde2;
$category-a-color-disabled: #d3af9a;
$category-c-color-disabled: #d8edc9;

// Lives
$live-full: #C90A00;
$live-empty: #C5C3B4;
$live-extra-full: #AA4095;

// Countdown
$countdown-5: #2C82C9;
$countdown-4: #2CC990;
$countdown-3: #EEE657;
$countdown-2: #FCB941;
$countdown-1: #FC6042;
